<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Data world</title>
	<link rel="icon" href="/assets/images/education.svg">
	<style>
		* {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}

		body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100vw;
			height: 100vh;
		}

		img {
			height: 300px;
		}

		ul {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		li {
			list-style: none;
			padding: 0 20px;
		}

		a {
			padding: 10px 20px;
			text-decoration: none;
			border: none;
			outline: none;
			box-shadow: 0px 0px 5px 0px rgba(1, 1, 1, 0.2);
			border-radius: 3px;
		}

		.buttons {
			margin-top: 50px;
		}

		#homeButton {
			background-color: #4d84e2;
			color: white;
		}

		#previousButton {
			color: gray;
		}
	</style>
</head>
<body>
<img src="../../assets/images/401.png" alt="">
<div class="buttons">
	<ul>
		<li><a href="javascript:history.back()" id="previousButton"><i class="fas fa-arrow-left"></i> Back to previous</a></li>
		<li><a href="/" id="homeButton"><i class="fas fa-home"></i> Back to home</a></li>
	</ul>
</div>
<div style="height: 100px"></div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>