<footer class="footer">
    <div class="main-info-content">
        <div class="contact-item">
            <img src="https://assets.data.world/assets/logo-horiz-white.4ce1e77312620581d5a1c421c845b488.svg" alt=""/>
            <p><i class="fas fa-phone-alt"></i>Hotline</p>
            <p>0359.569.985</p>
            <p><i class="far fa-envelope"></i>Email</p>
            <p>hoangtrung14121412@gmail.com</p>
            <p><i class="fas fa-location-arrow"></i>Address</p>
            <p>9/1 Trần Trọng Cung Quận 7 HCM</p>
            <p><i class="far fa-clock"></i>Work Time</p>
            <p>8:00 - 22:00</p>
        </div>
        <div class="about-item">
            <p>Giới thiệu về Data.World</p>
            <p>Câu hỏi thường gặp</p>
            <p>Điều khoản dịch vụ</p>
            <p>Hướng dẫn thanh toán</p>
            <p>Góc chia sẽ</p>
            <p>Chính sách bảo mật</p>
        </div>
        <div class="social-item">
            <p class="headline">Kết nối với Data.World</p>
            <img src="https://us.123rf.com/450wm/deniskot/deniskot1506/deniskot150600049/41326088-stock-illustration-different-machine-code-languages-programming-button-on-the-computer-keyboard-3d-illustration.jpg?ver=6" alt=""/>
            <div class="social-fb">
                <img src="https://thumbs.dreamstime.com/z/programming-languages-background-d-coding-concept-illustration-87178245.jpg" alt=""/>
                <a href="#">Data.World<i class="fas fa-check-circle"></i></a>
                <p>100K Likes</p>
            </div>
            <a href="#"><i class="fab fa-facebook-square"></i>&nbsp;Thích Trang</a><br/>
            <div class="social-icon">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-skype"></i></a>
            </div>
        </div>
    </div>
    <div class="ending">
        <i class="fab fa-connectdevelop"></i>
        <p>Công ty cổ phần đào tạo trực tuyến Data.World - ĐKKD: 0107695756 Khóa học trực tuyến dành cho người đi làm</p>
        <img src="https://qltt.thuathienhue.gov.vn/UploadFiles/TinTuc/2018/10/10/dang_ky_thong_bao_website_thuong_mai_dien_tu.png" alt=""/>
    </div>
</footer>