.payment {
  flex: 1;
  position: relative;
  width: 80%;
  margin: 20px auto; }
  .payment a {
    display: block;
    color: black;
    text-decoration: none; }
  .payment .un-payment {
    display: grid;
    grid-template-columns: 60% 38%;
    justify-content: space-between;
    align-items: flex-start; }
    .payment .un-payment .payment-headline {
      margin-top: -20px;
      grid-column: 1 / 3;
      font-size: 30px;
      background-color: #48515C;
      width: 100vw;
      margin-left: -10vw;
      padding: 40px 13.5% 40px 12.5%;
      color: white;
      font-weight: bold;
      margin-bottom: 20px; }
    .payment .un-payment .payment-type {
      background-color: #FFFFFF;
      border-radius: 5px; }
      .payment .un-payment .payment-type .payment-type-content {
        display: flex;
        flex-direction: column;
        width: 98%;
        margin: 0px auto; }
        .payment .un-payment .payment-type .payment-type-content .payment-type-item {
          display: flex;
          justify-content: flex-start;
          padding: 20px 0px;
          align-items: center;
          border-bottom: 1px solid #CCCCCC; }
          .payment .un-payment .payment-type .payment-type-content .payment-type-item input {
            border: 1px solid black;
            transform: scale(2);
            margin-left: 15px;
            cursor: pointer; }
            .payment .un-payment .payment-type .payment-type-content .payment-type-item input:hover {
              filter: brightness(80%); }
          .payment .un-payment .payment-type .payment-type-content .payment-type-item img {
            margin: 0px 20px;
            height: 60px;
            width: 60px; }
          .payment .un-payment .payment-type .payment-type-content .payment-type-item div {
            align-self: flex-start; }
            .payment .un-payment .payment-type .payment-type-content .payment-type-item div p {
              line-height: 22px;
              font-size: 14px; }
              .payment .un-payment .payment-type .payment-type-content .payment-type-item div p:first-child {
                font-weight: bold;
                font-size: 17px; }
      .payment .un-payment .payment-type .payment-btn {
        cursor: pointer;
        outline: none;
        background-color: #F26C4F;
        color: white;
        display: block;
        margin: 10px auto;
        width: 98%;
        padding: 15px;
        font-size: 17px;
        font-weight: bold;
        border: none;
        border-radius: 5px; }
        .payment .un-payment .payment-type .payment-btn:hover {
          filter: brightness(110%); }
    .payment .un-payment .price-summary {
      background-color: #FFFFFF;
      border-radius: 5px;
      padding: 0px 10px; }
      .payment .un-payment .price-summary .summary {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #CCCCCC;
        padding: 10px 0px; }
        .payment .un-payment .price-summary .summary p:first-child {
          font-weight: bold; }
      .payment .un-payment .price-summary .num-course a {
        color: #428BCA; }
        .payment .un-payment .price-summary .num-course a i {
          margin-right: 5px; }
      .payment .un-payment .price-summary .course-list {
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        border-bottom: 1px solid #CCCCCC; }
        .payment .un-payment .price-summary .course-list .course-list-item {
          display: grid;
          grid-template-columns: 20% 60% 20%;
          justify-content: space-between;
          padding: 5px 0px;
          align-items: flex-start;
          transition: 0.3s;
          height: 60px;
          cursor: pointer; }
          .payment .un-payment .price-summary .course-list .course-list-item img {
            width: 90%;
            height: 100%;
            border-radius: 5px; }
          .payment .un-payment .price-summary .course-list .course-list-item .course-name {
            font-weight: bold;
            text-align: left; }
          .payment .un-payment .price-summary .course-list .course-list-item div p {
            text-align: right; }
            .payment .un-payment .price-summary .course-list .course-list-item div p:first-child {
              font-weight: bold; }
            .payment .un-payment .price-summary .course-list .course-list-item div p:last-child {
              text-decoration: line-through;
              color: #CCCCCC; }
      .payment .un-payment .price-summary .bonus-coupon p {
        font-weight: bold; }
      .payment .un-payment .price-summary .total-price {
        border-bottom: none; }
        .payment .un-payment .price-summary .total-price p {
          font-size: 25px;
          padding: 15px 0px;
          font-weight: bold; }
          .payment .un-payment .price-summary .total-price p:last-child {
            color: #FF0000; }
  .payment .payment-result {
    background-color: white;
    border-radius: 5px;
    width: 70%;
    margin: 0px auto; }
    .payment .payment-result .template {
      display: none; }
      .payment .payment-result .template img {
        width: 100%; }
      .payment .payment-result .template .result-text {
        font-size: 20px;
        padding: 15px;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #333D49;
        font-weight: bold; }
      .payment .payment-result .template button {
        cursor: pointer;
        outline: none;
        background-color: #F26C4F;
        color: white;
        display: block;
        width: 98%;
        padding: 15px;
        font-size: 17px;
        font-weight: bold;
        border: none;
        border-radius: 5px; }
        .payment .payment-result .template button:hover {
          filter: brightness(110%); }
    .payment .payment-result .payment-fail button {
      color: red; }
