.profile {
  width: 80%;
  max-width: 1000px;
  height: 100vh;
  margin: 20px auto 100px; }
  .profile .container {
    display: grid;
    grid-template-columns: 80% 20%; }
  .profile h2 {
    margin-bottom: 10px; }
  .profile .info {
    margin: 0 20px; }
    .profile .info .row {
      width: 100%;
      margin-bottom: 20px; }
    .profile .info .name {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px; }
    .profile .info .security {
      width: 50%; }
      .profile .info .security .form-control {
        margin-bottom: 10px; }
  .profile .avatar .img {
    width: 250px;
    position: relative; }
    .profile .avatar .img .inputLabel label {
      width: 100%;
      color: white;
      background-color: #3A589E;
      text-align: center;
      border-radius: 3px; }
      .profile .avatar .img .inputLabel label img {
        width: 250px;
        height: 250px;
        border-radius: 5px;
        object-fit: cover; }
        .profile .avatar .img .inputLabel label img:hover {
          cursor: pointer;
          filter: brightness(80%); }
      .profile .avatar .img .inputLabel label:hover {
        background-color: #2b4272; }
  .profile .form-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; }
    .profile .form-control label {
      margin: 5px 0;
      font-weight: 300;
      color: #333D49; }
    .profile .form-control input, .profile .form-control textarea {
      border-radius: 5px;
      height: 35px;
      width: 100%;
      outline: none;
      padding: 10px;
      border: 1px solid #A3AFBF; }
    .profile .form-control textarea {
      height: 100px; }
    .profile .form-control input[type=submit] {
      background-color: #4d84e2;
      color: white;
      width: 100px;
      height: 35px;
      border: none;
      outline: none;
      font-size: 0.9rem;
      font-weight: 500;
      justify-self: flex-end;
      align-self: flex-end; }
      .profile .form-control input[type=submit]:hover {
        cursor: pointer;
        background-color: #3862a7; }
    .profile .form-control input:read-only {
      background-color: #e5e5e5; }
