.footer {
  display: none; }

.nav {
  display: none; }

.top-category {
  display: none; }

.user-learning {
  width: 100vw;
  height: 100vw;
  background-color: #F9FAFC;
  position: relative;
  padding: 50px 13.5% 50px 12.5%; }
  .user-learning a {
    display: block;
    color: black;
    text-decoration: none; }
  .user-learning button {
    border: none;
    outline: none;
    cursor: pointer; }
  .user-learning .fixed-user-info {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 50px;
    bottom: 50px;
    left: 153px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px 0px; }
    .user-learning .fixed-user-info .user-avatar {
      text-align: center; }
      .user-learning .fixed-user-info .user-avatar img {
        display: block;
        margin: 0px auto; }
        .user-learning .fixed-user-info .user-avatar img:nth-child(2) {
          margin: 20px auto;
          width: 100px;
          height: 100px;
          border-radius: 50%; }
      .user-learning .fixed-user-info .user-avatar p:nth-child(3) {
        font-size: 18px;
        padding-bottom: 10px;
        font-weight: bold; }
      .user-learning .fixed-user-info .user-avatar p:nth-child(4) {
        color: #A3A4A4;
        padding-bottom: 10px; }
    .user-learning .fixed-user-info hr {
      margin: 10px auto;
      background-color: #c2c0c0;
      width: 90%; }
    .user-learning .fixed-user-info .user-choice {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0px auto; }
      .user-learning .fixed-user-info .user-choice button, .user-learning .fixed-user-info .user-choice a {
        display: block;
        text-align: left;
        width: 100%;
        color: #666984;
        background-color: transparent;
        padding: 10px 5px;
        font-size: 17px;
        margin: 5px 0px;
        display: flex;
        align-items: center; }
        .user-learning .fixed-user-info .user-choice button i, .user-learning .fixed-user-info .user-choice a i {
          flex-basis: 11%;
          font-size: 20px; }
        .user-learning .fixed-user-info .user-choice button:hover, .user-learning .fixed-user-info .user-choice a:hover {
          color: black;
          background-color: #d3d4d8; }
  .user-learning .user-courses {
    margin-left: 300px; }
    .user-learning .user-courses .course-info p {
      font-size: 25px;
      font-weight: bold;
      padding-bottom: 20px; }
    .user-learning .user-courses .course-info form {
      display: flex; }
      .user-learning .user-courses .course-info form input {
        background-color: #ECEDF1;
        padding: 15px;
        flex-basis: 80%;
        border: none;
        outline: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .user-learning .user-courses .course-info form .search-btn {
        background-color: #FFFFFF;
        padding: 15px;
        margin: 0px;
        flex-basis: 20%;
        font-size: 16px;
        border: 1px solid #d1cbcb;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: 0.3s; }
        .user-learning .user-courses .course-info form .search-btn:hover {
          filter: brightness(80%); }
    .user-learning .user-courses .basic-course {
      padding: 20px 0px; }
      .user-learning .user-courses .basic-course .basic-content {
        display: grid;
        grid-template-columns: 31% 31% 31%;
        grid-row-gap: 30px;
        justify-content: space-between; }
        .user-learning .user-courses .basic-course .basic-content .basic-item {
          border: 1px solid  #eceaea;
          background-color: white;
          transition: 0.3s;
          border-radius: 5px;
          padding-bottom: 5px;
          position: relative;
          height: 300px;
          position: relative; }
          .user-learning .user-courses .basic-course .basic-content .basic-item p {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 2px;
            color: gray;
            padding: 3px 10px;
            color: black; }
            .user-learning .user-courses .basic-course .basic-content .basic-item p span {
              margin-right: 10px; }
            .user-learning .user-courses .basic-course .basic-content .basic-item p span {
              margin-right: 5px; }
          .user-learning .user-courses .basic-course .basic-content .basic-item .course-img {
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 50%; }
            .user-learning .user-courses .basic-course .basic-content .basic-item .course-img:hover {
              filter: brightness(90%); }
          .user-learning .user-courses .basic-course .basic-content .basic-item:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); }
          .user-learning .user-courses .basic-course .basic-content .basic-item p:nth-child(2) {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            height: 23%;
            font-weight: bold;
            font-size: 18px; }
          .user-learning .user-courses .basic-course .basic-content .basic-item p:nth-child(3) {
            font-size: 14px;
            font-weight: normal; }
          .user-learning .user-courses .basic-course .basic-content .basic-item p:nth-child(4) {
            font-size: 14px; }
            .user-learning .user-courses .basic-course .basic-content .basic-item p:nth-child(4) span:first-child {
              color: #EB8A2F;
              font-weight: bold;
              font-size: 17px; }
          .user-learning .user-courses .basic-course .basic-content .basic-item p:nth-child(5) span:first-child {
            font-weight: bold;
            font-size: 17px; }
          .user-learning .user-courses .basic-course .basic-content .basic-item p:nth-child(5) span:last-child {
            text-decoration: line-through;
            font-size: 15px; }
          .user-learning .user-courses .basic-course .basic-content .basic-item p:nth-child(6) span {
            padding: 5px;
            border-radius: 5px;
            font-size: 13px;
            position: absolute;
            top: 10px;
            left: 10px;
            font-weight: bold; }
          .user-learning .user-courses .basic-course .basic-content .basic-item .nav-btn {
            display: none;
            position: absolute;
            bottom: 0px;
            width: 100%; }
            .user-learning .user-courses .basic-course .basic-content .basic-item .nav-btn button {
              display: block;
              width: 50%;
              padding: 10px;
              color: white; }
              .user-learning .user-courses .basic-course .basic-content .basic-item .nav-btn button:hover {
                filter: brightness(90%); }
            .user-learning .user-courses .basic-course .basic-content .basic-item .nav-btn .detail-btn {
              background-color: #00C0EF; }
            .user-learning .user-courses .basic-course .basic-content .basic-item .nav-btn .remove-btn {
              background-color: #DD4B39; }
            .user-learning .user-courses .basic-course .basic-content .basic-item .nav-btn .review-btn {
              background-color: #00A65A; }
            .user-learning .user-courses .basic-course .basic-content .basic-item .nav-btn .learn-btn {
              background-color: #F39C12; }
  .user-learning .confirm-notification {
    display: none;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    color: white;
    z-index: 1;
    width: 600px; }
    .user-learning .confirm-notification .headline {
      display: flex;
      justify-content: space-between;
      padding: 15px; }
      .user-learning .confirm-notification .headline .headline-text {
        font-weight: 500;
        font-size: 18px; }
      .user-learning .confirm-notification .headline .close-btn {
        color: #b8b4b4;
        background-color: transparent;
        transition: 0.3s; }
        .user-learning .confirm-notification .headline .close-btn:hover {
          color: white; }
    .user-learning .confirm-notification .info {
      padding: 15px;
      height: 70px; }
    .user-learning .confirm-notification .confirm {
      padding: 15px;
      display: flex;
      justify-content: space-between; }
      .user-learning .confirm-notification .confirm button {
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        background-color: transparent;
        color: white; }
        .user-learning .confirm-notification .confirm button:hover {
          filter: brightness(80%); }
  .user-learning .notification-danger {
    background-color: #D33724; }
    .user-learning .notification-danger .info {
      background-color: #DD4B39; }
  .user-learning .notification-success {
    background-color: #008D4C; }
    .user-learning .notification-success .info {
      background-color: #00A65A; }
  .user-learning .notification-info {
    background-color: #00A7D0; }
    .user-learning .notification-info .info {
      background-color: #00C0EF; }
  .user-learning .notification-default {
    background-color: #FFFFFF; }
    .user-learning .notification-default .info {
      background-color: #FFFFFF; }
  .user-learning .review {
    display: none;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    z-index: 1;
    width: 600px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px; }
    .user-learning .review .review-content {
      padding: 20px; }
      .user-learning .review .review-content p {
        padding: 10px 0px;
        text-align: center; }
        .user-learning .review .review-content p:first-child {
          font-size: 30px;
          font-weight: bold; }
        .user-learning .review .review-content p:nth-child(3) {
          font-size: 17px; }
      .user-learning .review .review-content textarea {
        background-color: #EDEDED;
        width: 100%;
        padding: 10px;
        margin: 20px 0px;
        border-radius: 5px; }
      .user-learning .review .review-content textarea::placeholder {
        font-size: 17px; }
      .user-learning .review .review-content button {
        background-color: #DF322F;
        color: white;
        border-radius: 5px;
        padding: 15px 40px;
        display: block;
        margin: 0px auto;
        font-size: 17px; }
        .user-learning .review .review-content button:hover {
          filter: brightness(80%); }
