* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  .page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color:#EEF1F2;
    //background-color: #F4F4F4;
    
  }
}