.top-category{
    background-color: #333D49;
    padding: 10px 10%;
    position: relative;
    font-size: 15px;
    display: inline-block;
    border-top: 1px solid white;
    a{
        display: block;
        color: black;
        text-decoration: none;
      }
    @mixin symbolLink{
      padding: 10px;
      display: grid;
      grid-template-columns: 20% 80%;
      align-items: center;
      justify-content: flex-start;
      i{
        justify-self: center;
        color: grey;
      }
    }
    p{
        &:first-child{
            font-weight: bold;
            display: flex;
            align-items: center;
            font-size: 20px;
            color:white;
            display: inline;
            padding: 10px;
            cursor: pointer;
            &:hover{
                filter: brightness(120%);
            }
        }
    }
    .category-content{
        background-color: white;
        border-radius: 5px;
        position: absolute;
        display: none;
        z-index: 1;
        top: 43px;
        border: 1px solid whitesmoke;
        .category-item{
            width: 100%;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            a{
              @include symbolLink();
              border-bottom: 1px solid whitesmoke;
              &:last-child{
                border-bottom: none;
              }
            }
            &:hover{
              background-color: rgb(214, 211, 211);
              a{
                color: white;
              }
            }
            &:hover .sub-category-content{
              display: inline;
            }
            .sub-category-content{
              z-index: 1;
              display: none;
              position: absolute;
              background-color: white;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              width: 100%;
              top: 0;
              left: 100%;
              border-radius: 5px;
              border: 1px solid whitesmoke;
              a{
                @include symbolLink();
                color: black;
                &:hover{
                  background-color:rgb(214, 211, 211);
                  color: white;
                }
              }
            }
          }
    }
    &:hover .category-content{
        display: block;
    }
}